// Change this

$base-font-size: 16 !default;
$line-height: 24 !default;

// Variables

$font-size-ratio: ($base-font-size / 16);
$line-height-ratio: ($line-height / $base-font-size);
$type-scale: 3, 2.25, 1.5, 1.3125, 1.125, 1;
$unit: em;

// Functions

@function calc-font-size($scale) {

	@return ($font-size-ratio * $scale)#{$unit};
}

@function calc-line-height($scale) {

	$line-height-value: ($line-height-ratio / ($scale * $font-size-ratio));

	@if ($line-height-value < 1) {

		$line-height-value: ($line-height-value * 2);
	}

	@return $line-height-value;
}

@function calc-margin($scale) {

	@return ($line-height-ratio / ($scale * $font-size-ratio))#{$unit};
}

// Mixins

@mixin hyphens($value: auto) {
	-webkit-hyphens: $value;
	   -moz-hyphens: $value;
	    -ms-hyphens: $value;
	        hyphens: $value;
}

// Styles

html {
    font-size: 100%;
}
%hN {
	font-weight: bold;
	margin: 0;
}
@for $i from 1 through 6 {

	h#{$i}, .h#{$i} {
		@extend %hN;
		$scale: nth($type-scale, $i);
		font-size: calc-font-size($scale);
		line-height: calc-line-height($scale);
		margin-bottom: calc-margin($scale);
	}
}
p,
blockquote {
	font-size: calc-font-size(nth($type-scale, 6));
	line-height: calc-line-height(nth($type-scale, 6));
	margin: 0 0 calc-margin(nth($type-scale, 6));
	@include hyphens;
}
dl,
ol,
ul {
	font-size: calc-font-size(nth($type-scale, 6));
	margin: 0 0 calc-margin(nth($type-scale, 6));
	padding: 0;
}
dd,
dt,
li {
	line-height: calc-line-height(nth($type-scale, 6));
	margin: 0;
}

/* Using the default values returns the following:

html {
  font-size: 100%;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: bold;
  margin: 0;
}

h1, .h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}

h2, .h2 {
  font-size: 2.25em;
  line-height: 1.33333;
  margin-bottom: 0.66667em;
}

h3, .h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}

h4, .h4 {
  font-size: 1.3125em;
  line-height: 1.14286;
  margin-bottom: 1.14286em;
}

h5, .h5 {
  font-size: 1.125em;
  line-height: 1.33333;
  margin-bottom: 1.33333em;
}

h6, .h6 {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 1.5em;
}

p,
blockquote {
  font-size: 1em;
  line-height: 1.5;
  margin: 0 0 1.5em;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

dl,
ol,
ul {
  font-size: 1em;
  margin: 0 0 1.5em;
  padding: 0;
}

dd,
dt,
li {
  line-height: 1.5;
  margin: 0;
}
*/
